/*note navbar*/
.navbar-brand > img {
  height: 100%; }

/*note header*/
#Header {
  padding-top: 50px; }

.header-row1,
.header-row2,
.header-row3 {
  position: relative;
  padding: 0; }

.header-background1,
.header-background2,
.header-background3 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0.5;
  transition: all 0.8s ease; }

.header-background1 {
  background-image: url(../img/stranight.jpg); }

.header-background2 {
  background-image: url(../img/machu.jpg); }

.header-background3 {
  background-image: url(../img/ocean.jpg); }

.header-row1 h1,
.header-row2 h1,
.header-row3 h1 {
  margin: 0;
  padding: 20px 15px 20px 15px;
  position: relative;
  z-index: 10;
  font-weight: 700;
  color: RGBA(255, 255, 225, 1);
  text-shadow: 6px 6px 18px #333; }

.header-row1 h1 {
  text-align: left; }

.header-row2 h1 {
  text-align: center; }

.header-row3 h1 {
  text-align: right; }

.header-row1:hover > .header-background1,
.header-row2:hover > .header-background2,
.header-row3:hover > .header-background3 {
  opacity: 1; }

/*note City*/
#City {
  padding-top: 20px;
  padding-bottom: 20px; }

[id^="photo"] {
  border: 1px solid #999;
  border-radius: 10px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 5px #111;
  transition: all 0.8s ease;
  text-decoration: none; }

#photo1 {
  background-image: url(../img/Taipei.jpg); }

#photo2 {
  background-image: url(../img/Tokyo.jpg); }

#photo3 {
  background-image: url(../img/Singapore.jpg); }

#photo4 {
  background-image: url(../img/NewZealand.jpg); }

#photo5 {
  background-image: url(../img/Turkey.jpg); }

#photo6 {
  background-image: url(../img/America.jpg); }

#photo7 {
  background-image: url(../img/German.jpg); }

#photo8 {
  background-image: url(../img/Canada.jpg); }

[id^="photo"]:hover {
  filter: grayscale(0);
  text-shadow: 5px 5px 10px #333;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: white; }

[id^="photo"]:active {
  text-decoration: none;
  color: white; }

[id^="photo"]:visited {
  text-decoration: none;
  color: white; }

/*note Ticket*/
#Ticket {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.airport {
  height: 315px;
  background-image: url(../img/airport.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: 900px;
  text-shadow: 5px 5px 1px #222;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.Ticket-word h1 {
  font-size: 45px; }

/*note Suggest*/
#Suggest {
  padding-top: 20px;
  padding-bottom: 40px; }

#Suggest .carousel {
  height: 350px;
  color: #111;
  border: 1px solid #777;
  border-radius: 100px;
  box-shadow: 5px 5px 8px #333;
  background-image: url(../img/sky.jpg);
  overflow: hidden; }

@media screen and (max-width: 1350px) {
  #Suggest .carousel {
    overflow: scroll; } }

#Suggest h1 {
  padding-bottom: 10px;
  text-shadow: 0 5px 40px white;
  font-weight: 700; }

#Suggest img {
  width: 100%; }

#Suggest h3 {
  padding-top: 10px;
  text-shadow: 0 3px 5px white; }

/* note footer */
footer {
  padding-top: 30px;
  background-color: #222;
  color: white;
  text-align: center; }

footer * {
  color: white; }

.footer-bar {
  width: 100%;
  height: 50px;
  background-color: #000; }

.footer-bar ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.footer-bar ul > li {
  float: left;
  line-height: 50px;
  margin-right: 10px; }

.footer-bar p {
  float: right;
  line-height: 50px;
  margin: 0; }

.social-links a {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  text-align: center; }

.social-links a:hover {
  background-color: white; }

.social-links a > i.fa:before {
  line-height: 40px;
  color: #314858; }
